<a href="https://colab.research.google.com/github/tianhaoluo/data-science-interview-questions-and-answers/blob/master/05_Funnel_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

In [2]:
from google.colab import files
uploaded = files.upload()

Saving home_page_table.csv to home_page_table.csv
Saving payment_confirmation_table.csv to payment_confirmation_table.csv
Saving payment_page_table.csv to payment_page_table.csv
Saving search_page_table.csv to search_page_table.csv
Saving user_table.csv to user_table.csv

In [0]:
home_page_table = pd.read_csv("home_page_table.csv")

In [5]:
home_page_table.head()

   user_id       page
0   313593  home_page
1   468315  home_page
2   264005  home_page
3   290784  home_page
4   639104  home_page

In [11]:
home_page_table.shape

(90400, 2)

In [0]:
search_page_table = pd.read_csv("search_page_table.csv")

In [8]:
search_page_table.head()

   user_id         page
0    15866  search_page
1   347058  search_page
2   577020  search_page
3   780347  search_page
4   383739  search_page

In [10]:
search_page_table.shape

(45200, 2)

In [0]:
payment_page_table = pd.read_csv("payment_page_table.csv")

In [13]:
payment_page_table.shape

(6030, 2)

In [0]:
payment_confirmation_table = pd.read_csv("payment_confirmation_table.csv")

In [15]:
payment_confirmation_table.shape

(452, 2)

In [0]:
user_table = pd.read_csv("user_table.csv")

In [17]:
user_table.head()

   user_id        date   device     sex
0   450007  2015-02-28  Desktop  Female
1   756838  2015-01-13  Desktop    Male
2   568983  2015-04-09  Desktop    Male
3   190794  2015-02-18  Desktop  Female
4   537909  2015-01-15  Desktop    Male

In [0]:
payment_confirmation_d = dict([(user,page) for (user,page) in zip(payment_confirmation_table.user_id, payment_confirmation_table.page)])
payment_page_d = dict([(user,page) for (user,page) in zip(payment_page_table.user_id, payment_page_table.page)])
search_page_d = dict([(user,page) for (user,page) in zip(search_page_table.user_id, search_page_table.page)])

In [37]:
zip(payment_confirmation_table.user_id, payment_confirmation_table.page)

In [0]:
def last_page(row):
  user = row["user_id"]
  if user in payment_confirmation_d:
    return "confirmation"
  elif user in payment_page_d:
    return "payment"
  elif user in search_page_d:
    return "search"
  return "home"

In [0]:
user_table['final_page'] = user_table.apply(lambda row: last_page(row) ,axis=1)

In [46]:
user_table.head()

   user_id        date   device     sex final_page
0   450007  2015-02-28  Desktop  Female       home
1   756838  2015-01-13  Desktop    Male       home
2   568983  2015-04-09  Desktop    Male     search
3   190794  2015-02-18  Desktop  Female     search
4   537909  2015-01-15  Desktop    Male       home

In [0]:
def conversion_rates(df, by=None):
  home = sum(df['final_page'] == "home")
  search = sum(df['final_page'] == "search")
  payment = sum(df['final_page'] == "payment")
  confirmation = sum(df['final_page'] == "confirmation")
  payment += confirmation
  search += payment
  home += search
  out = [search/home, payment/search, confirmation/payment]
  return [round(o,4) for o in out]

In [59]:
conversion_rates(user_table)

[0.5, 0.1334, 0.075]

In [60]:
user_table.groupby('device').apply(conversion_rates)

device
Desktop    [0.5, 0.1, 0.0498]
Mobile        [0.5, 0.2, 0.1]
dtype: object

In [61]:
user_table.groupby('sex').apply(conversion_rates)

sex
Female    [0.5031, 0.1367, 0.0777]
Male       [0.4969, 0.1301, 0.072]
dtype: object